$height: 200vh;
$backgroundImage: url("https://wallpaperaccess.com/full/1253802.jpg");
$backgroundRepeat :no-repeat;
$backgroundSize : cover;
$backgroundAttachment: fixed;
$backgroundPosition : center;

$backgroundStyleID1: (
    _height: $height,
    _imageSource: $backgroundImage,
    _repeat: $backgroundRepeat,
    _size : $backgroundSize,
    _attachment: $backgroundAttachment,
    _position: $backgroundPosition
);

@mixin getStructModel($name , $id) {
    @include map-get($name , $id);
}

@mixin setBackground() {
    height: map-get($backgroundStyleID1 , _heigh);
    background-image: map-get($backgroundStyleID1 , _imageSource);
    background-repeat: map-get($backgroundStyleID1 , _repeat);
    background-size: map-get($backgroundStyleID1 , _size);
    background-attachment: map-get($backgroundStyleID1 , _attachment);
    background-position: map-get(backgroundStyleID1, _position);
}

@mixin SetBackgrounColorGeneric($currentColor) {
    background-color: $currentColor;
}

// Generic Img Backgroun Btn 
$urlIDInstagram : url('../assets/icons/instagram.svg') no-repeat center center;
$urlIDSpotify : url('../assets/icons/spotify.svg') no-repeat center center;
$urlIDSoundCloud : url('../assets/icons/soundcloud.svg') no-repeat center center;

@mixin setBackgroundImgBtn($url) {
    background: $url;
}

@mixin setBackgroundImgBtnSizeCover($reSizeDivided : 2) {
    background-size: cover/reSizeDivided;
}


//Generic Backgroung Gradient
$backgroundGradient: linear-gradient(90deg, rgba(2, 0, 36, 0.358) 0%,
        rgba(89, 165, 191, 0.262) 64%, rgba(82, 187, 228, 0.423) 71%,
        rgba(34, 143, 186, 0.482) 100%);

@mixin setBackgrounGradient($someGradient: $backgroundGradient)
{
    background: $someGradient;
}