$headerVH :30vh;

$overFlowCurrent: "auto";

$backgroundColorCurrent: #399fb951;
$backgroundColorAlphaNav: #19191a48;
$backgroundColorDropDownItem : rgba(43, 157, 218, 0.423);
$colorBlackNav: #19191a48;
$colorWhite: rgb(255, 255, 255);

$zIndexCurrent: 9999;
$positionCurrent : "relative";


@mixin headerInitialize() {
    @include setHeight($headerVH);
    @include setOverflow($overFlowCurrent);
    @include setBackgrounColorGeneric($backgroundColorCurrent);
}

@mixin transitionModel() {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}